.all {
    height: 100vh;
    width: 100vw;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    overflow-x: hidden;
}

@font-face{
    font-family: 'Wendy One';
    src: url('WendyOne.ttf') format('truetype');
}

@font-face{
    font-family: 'Wendy One';
    src: url('WendyOne.ttf') format('truetype');
}

.allSectionInfo {
    height: auto;
}

.content {
    text-align: center;
}


.planContent {
    display: flex;
    margin: 50px;
}

.sectionTitle {
    font-family: "Wendy One", sans-serif;
    color: white;
    font-size: 40px;
    width: 40%;
    background-color: transparent;
}

.sectionDescription {
    font-size: 18px;
    font-family: "Times New Roman", sans-serif;
    text-align: justify;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 20px;
    width: 50%;
}

.simulationContainer {
    width: 50%;
    background-color: rgba(89, 22, 88, 0.5);
    border-radius: 5px;
    border: 2px solid #330033;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simulationContainer label {
    font-weight: bold;
}

.simulationContainer input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.processList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.processItem {
    display: flex;
    align-items: center;
    margin: 10px;
}

.processInfo {
    margin-right: 10px;
}

.processFields input {
    width: 50px;
    margin-right: 5px;
}

.processStack {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.processStack p {
    margin: 5px 0;
    color: #111111;
}

.table {
    background-color: #FCB70B;
    width: 5vw;
}

.simulationButton {
    background-color: #ffffff;
    color: #111;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.simulationButton:hover {
    background-color: #C4C4C4;
}

.simulationFIFO {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 90%;
}

.timeRemaining {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    width: 100%;
}

.finished {
    font-family: "Times New Roman", sans-serif;
    font-size: 2vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.timePriorityContainer {
    margin-top: 2vh;
}

.textInformation {
    font-size: 1.1vw;
    font-family: "Gill Sans MT", sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}
